* {
  margin: 0;
  padding: 0;
  /* padding will be included in heigth and width */
  box-sizing: border-box; 
  font-family: "PT Sans", sans-serif;
}

html {
 scroll-behavior: smooth;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BEBEBE;
  opacity: 1;
}

input, select, textarea{
  color: #fff;
}

textarea:focus, input:focus {
  color: #fff;
}

.container{
  padding:0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

body{
  background-color:#dfe3ee;
  transition:background 0.2s linear;
}


.text h1{
  color:#000;
  font-size: 3rem;
  cursor: context-menu; /*type of cursor */
}


header{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 20px 0px; /*top-bottom 10px and right-left 0px*/
}



.navbar{
  background-color: #3b5998;
  position:fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
}

/* Change background on mouse-hover */
.navbar a:hover {
  color:#ED5565;
}


header a{
  color : #fff;
}

.text p{
  color: #000;
}

.about h1,
.skills h1,
.work h1,
.contact h1{
  color : #000;
}


.navbar h1{
  font-family: "American Typewriter", cursive;
}

li{
  list-style: none;
  margin-left: 30px;
}

a{
  text-decoration: none;
  font-size: .9rem;
  text-transform:uppercase;
  position: relative;
  top:50%;
  bottom:50%;
  transform: translateY(-50%); /*will move the a above by 50% from its current position */
}

.main-info-section{
  padding-top: 50px;
  height: calc(100vh-81.6px);
}

.text{
  margin-top: 120px;
}

.text span{
  display:inline-block;
}

span:hover{
  color:#48CFAD;
  transition:all .5s;
}

span.name{
  color:#ED5565;
}

span.m-left{
  margin-left: -10px;
}

.text p{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
  padding-top: 10px;
}

.text a{
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ED5565;
  color:#ED5565;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden; /*if the size of text does not fit then hide the additonal contents */
  transition: .5s;
  display:inline-block;
}

.text a:hover{
  color:#fff;
  background-color: #ED5565;
}

.text a::before{ /*gives the element properties before their original given properties*/
  content:'';
  background-color: #ED5565;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 0%;
  z-index: -1; /*this will make the current element behind the element above it if it is overlapping */
  transition: .5s;
}


/* social media icons */
.text a:hover::before{
  height: 100%;
}

.middle{
  margin-top: 20px;
}

.btn{
  display: inline-block;
  width: 75px;
  height: 60px;
  background:#3b5998 ;
  margin-top:10px;
  margin-right:10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #000070;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.btn i{
  line-height: 30px;
  font-size: 24px;
  transition: 0.2s linear;
  color: #fff;
  text-align-last:center;
}

.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before{
  content:"";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: scale(1.3);
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

/* .btn:hover::before{
  animation: aaa 0.7s 1;
  top:-10%;
  left:-10%;
  right: -10%;
} */


.profile-image img{
  width: 400px;
  /* height: 450px; */
  margin-top: 100px;
}

.about{
  height: 100vh; /* vh is viewport height */
  margin-top: 100px;
}

.about h1,
.work h1{
  font-size: 10rem;
  z-index: 0;
  opacity: .1;
  margin-bottom: 20px;
}

.about-me-info{
  max-width: 900px;
  background-color: #3b5998;
  box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%; 
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.about-me-info p{
  font-size: 1.3rem;
  color: #fff;
}

.about-me-info p:nth-child(2),
.about-me-info p:nth-child(3),
.about-me-info p:last-child{
  margin-top: 30px;
}

.about img{
  width: 300px;
  position: relative;
  top: -250px;
  left:calc(100% - 200px);
  right:calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));
}

.skills{
  height:100vh;
  margin-top: 250px;
  margin-bottom: 250px;
}

.skills h1,
.contact h1{
  text-align: left;
  font-size:10rem;
  opacity:0.1;
}


.skills-info{
  font-size: 1.4rem;
  color: #000;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.html{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

div[class^='tag-']{
  clip-path:polygon(75% 0%,100% 50%,75% 100%,0% 100%,0% 50%,0% 0%);
  width: 230px;
  height: 50px;
  background-color: #1785A7;
  margin-right: 30px;
}

div[class^='tag-'] p{
  color: #fff;
  text-align: left;
  padding-left: 10px;
  font-size: 1.1rem;
  padding-top: 3px;
}

.progressbar{
  position:relative;
  width:600px;
  height:20px;
  border:2px solid #48CFAD;
  border-radius: 20px;
  margin-top: 7px;
}

div[class^='bar-']{
  position: absolute;
  background-color: #48CFAD;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;
}

.bar-html,
.bar-css,
.bar-javascript,
.bar-react{
  width: calc(0-6px);
}

.work-category button{
  text-transform: capitalize;
  border: 3px solid #ED5565;
  padding: 15px 30px;
  border-radius: 50px;
  color: #ED5565;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #3b5998;
  outline: none;
  cursor:pointer;
}

div[class^='category-']{
  margin-top: 50px;
  display: grid;
  /* repeat (no. of times unit to be repeated after the comma) */
  /* minmax(range from minimum 350px to 1 fr(fraction)) */
  grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
  grid-gap:20px;
}

 .work a{
  justify-self: center;
  position: relative;
  display: inline-block;
}


.work-category .active{
  background-color: #ED5565;
}


button.active{
  color:#fff;
}


.work a img{
  width: 350px;
  justify-self:center;
}


div.hideCategory{
  display:none;
}

/* WOrking for display on image */
.showCategory img{
  /* width: 100%;
  height: 100%; */

  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top:0px;
  object-fit: cover;
  /* left:calc(100% - 200px);
  right:calc(100% - 100px);
  transform: translateX(calc(-100% + 100px)); */
}


.showCategory,
.hideCategory{
  display: flex;
  width: 90%;
  /* height: 20%; */
  justify-content: space-around;
  margin-bottom: 50px;
}

.single-team{
  width: 360px;
  height: 360px;
  padding: 24px;
  background: #fff;
  position: relative;
  display: flex;
  align-items:flex-end;
  transition: .6s ease-out;
  box-shadow: 0 10px 10px rgba(0,0,0,.25);
}

.single-team:hover{
  transform: translateY(15px);
}

.single-team:hover::before{
  opacity: 1;
}

.single-team:hover .team-text{
  opacity: 1;
  transform: translateY(0);
}

.single-team::before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,#000,transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.single-team .team-text{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s;
}

.team-text h2{
  margin: 0;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.team-text p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  
}

.team-text a{
  /* margin-top: 50px; */
  /* padding-top: 5px; */
  font-family: cursive;
  width: 100px;
  height: 50px;
  text-align: center;
  /* display:inline-flex; */
  /* justify-content: ; */
  border:1px solid #fff;
  color: white;
  border-radius: 20%;
  margin: 20px 20px;
  background-color: #3b5998;
  text-decoration: none;
}

.team-text a:hover{
  background-color: #ED5565;
  transition:all .5s;
}


/*  */
.contact{
  margin-top: 50px;
}


form input,
form textarea{
  display:block;
  width:500px;
  padding: 20px;
  border:3px solid;
  border-color: #000;
  background-color: #3b5998;
  margin: 20px 0;
  outline: none;
  font-size: 1.2rem;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}


form input:last-child{
  width:150px;
  background-color: #ED5565;
  border:none;
  cursor: pointer;
}

footer{
  background-color: #3b5998;
}

footer hr{
  border:2 px solid #707070;
  margin-top: 80px;
}


footer p{
  text-align: center;
  border:2 px solid #707070;
  font-size: 1.2rem;
  padding: 30px 0;
  color: #fff;
} 

/* DARK THEME  */
.checkbox{
  opacity: 0;
  position: absolute;
}

.label{
  margin-top: 5px;
  background-color: #000;
  display: flex;
  height: 26px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 5px;
  width: 55px;
  border-radius: 50px;
}

.fa-moon{
  color:#f1c40f;
}

.fa-sun{
  color:#f39c12;
}

.ball{
  width:22px;
  height:22px;
  top: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color:#fff;
  position: absolute;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
  transform: translateX(24px);
}


.dark .text h1{
  color:#fff;
}

.dark header h1,
.dark header a,
.dark .text p,
.dark .about h1,
.dark .skills h1,
.dark .work h1,
.dark .contact h1{
  color : #707070;
}

.dark .skills-info,
.dark .about-me-info p,
.dark .footer p{
color: #BEBEBE;
}


.dark form input,
.dark form textarea{
  border-color: #BEBEBE;
}

.dark .btn{
    background-color: #181818 ;
    box-shadow: 0 5px 15px -5px  rgba(0,0,0,.25);
}

.dark,
.dark .about-me-info,
.dark form input,
.dark form textarea,
.dark .work-category button{
background-color: #252627;
}

.dark .work-category .active,
.dark form input:last-child{
  background-color: #ED5565;
}

.dark footer,
.dark .navbar{
  background-color: #181818 ;
}

