
/* HTML AND BODY */

*{
margin:0;
padding:0;
-webkit-font-smoothing:subpixel-antialiased;
box-sizing:border-box
}
html {
scroll-behavior: smooth; 
}
a{
text-decoration:none;
outline:none;
cursor:pointer
}
a img{
border:none
}
.clearfix:after{
content:"";
display:table;
clear:both
}
.clearfix:before,
.clearfix:after{
content:"\0020";
display:block;
overflow:hidden;
visibility:hidden;
width:0;height:0
}
.clearfix{
zoom:1
}
* html .clearfix{
zoom:1
}
*:first-child+html /**/ix{
zoom:1
}
ul,li{
list-style:none
}
header,
hgroup,
nav,
footer,
section,
aside,
article{
display:block
}
:focus{
outline:0;border:0
}
input[type="submit"]:focus,
input[type="submit"]:active{
outline:0
}
input{
border:none;outline:none
}
input,textarea{
-webkit-appearance:none;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
outline:none;
font-family: 'Open Sans', sans-serif;
border:none
}
input:invalid,
textarea:invalid{
box-shadow:none
}
button{
font-family: 'Open Sans', sans-serif;
}
body{
-webkit-text-size-adjust:100%;
width:100%;
-webkit-overflow-scrolling:touch;
word-wrap:break-word;
font-family: 'Open Sans', sans-serif;
font-size:16px;
line-height:20px;
color:#000;
text-size-adjust: none;
-webkit-text-size-adjust: none;
-ms-text-size-adjust: 100%;
}
input[type="submit"],
input[type="Reset"]{
-webkit-appearance:none
}
img{
width:auto;
height:auto;
max-width:100%
}
img[data-src]{
opacity:1
}
.container{
max-width:1110px;
margin:0 auto;
width:90%;
}





/* NAVIGATION BAR */
.nav-bar-fixed{
position: fixed;
z-index: 99;
width: 100%;
}
.nav-bar{
background-color: #3B5998;
height:60px
}
.nav-bar .logo{
float: left;
margin:18px 0
}
.nav-bar .logo a{
font-size: 22px;
color:#fff;
font-weight: 700;
}
.nav-bar .links{
float: right;
}
.nav-bar ul li{
float: left;
padding:10px;
margin:10px 5px
}
.nav-bar ul li a{
font-size: 15px;
color:#fff;
font-weight: 500;
}
.nav-bar .menu-icon{
display: none;
}


/* Navigation Bar mobile view */
@media screen and (max-width:767px){
.nav-bar .logo{width:100%;text-align: center;}
.nav-bar .menu-icon{display: block;position: absolute;top:50%;left:10px;transform: translateY(-50%);height:20px;width:30px;background-image: url(../img/ham.svg);background-repeat: no-repeat;background-position: center;background-size: contain;}
.nav-bar .menu-icon.open{background-image: url(../img/close.svg);}
.nav-bar{position: relative;}
.nav-bar .links{float:none;display: none;position: absolute;left:0;top:50%;transform: translateY(-50%);}
.nav-bar .links.show{display: block;}
.nav-bar ul li{width:100%}
.nav-bar .links{width:200px;background-color: #fff;top:60px;transform:none}
.nav-bar ul li a{color:#3B5998}
}

.hero-section .main-wrp{padding-top: 50px;}
.hero-section{padding:50px 0;background-color: #f8f8f8;}
.hero-section .left-wrp{width:60%;float: left;padding:100px 0}
.hero-section .info{font-size: 42px;font-weight: 600;color:#000;line-height: 54px;margin-bottom: 10px;}
.hero-section .info span{color:#3B5998}
.hero-section .btn{font-size: 20px;color:#3B5998;font-weight: 600;display: block;margin-top: 20px;}
.hero-section .skills{font-size: 22px;line-height: 30px;}
.hero-section .right-wrp{float:right;width:35%;height:600px;background-image: url(../img/pic1-black1.jpg);background-repeat: no-repeat;background-position:right center;background-size: cover;border-radius: 18px;}

@media screen and (max-width:767px){
.hero-section .left-wrp{width:100%}
.hero-section .right-wrp{width:100%}
}

.projects{padding:60px 0}
.projects li{margin-bottom:20px}
.projects .lists > div{display:none}
.projects .lists > div.show{display:block}
.projects .img{width:250px;height:250px;background-color:  #3B5998;background-repeat: no-repeat;background-position: center;background-size: contain;display: inline-block;vertical-align: middle;border-radius: 18px;}
.projects .info{display: inline-block;vertical-align: middle;width:calc(100% - 256px);padding-left: 20px;}
.title{font-size: 24px;font-weight: 600;line-height: 28px;max-height: 56px;height: auto;overflow: hidden;color:#333333}
.desc{font-size: 16px;line-height: 20px;max-height: 40px;height: auto;overflow: hidden;color:#777777;margin:10px 0}
.btn{display: inline-block;font-size: 20px;font-weight: 700;color:#3B5998}

.projects .expense-app .img{background-image: url(../img/soft-02.PNG);}
.projects .dist-tla .img{background-image: url(../img/soft-002.PNG);}
.projects .chat-app .img{background-image: url(../img/soft-1.PNG);}
.projects .pint-OS .img{background-image: url(../img/soft-2.PNG);}
.projects .card-game .img{background-image: url(../img/soft-3.PNG);}
.projects .ctci-java .img{background-image: url(../img/soft-4.PNG);}
.projects .leetcode .img{background-image: url(../img/soft-5.PNG);}
.projects .portfolio .img{background-image: url(../img/web-develop-1.PNG);}
.projects .garden .img{background-image: url(../img/web-develop-2.PNG);}
.projects .hotel .img{background-image: url(../img/web-develop-3.PNG);}
.projects .fact .img{background-image: url(../img/nlp-1.PNG);}
.projects .sentiment .img{background-image: url(../img/nlp-2.PNG);}
.projects .movie-genre .img{background-image: url(../img/data-3.PNG);}
.projects .big-data .img{background-image: url(../img/data-5.PNG);}
.projects .predictive-analytics .img{background-image: url(../img/data-1.PNG);}
.projects .machine-learning .img{background-image: url(../img/data-4.PNG);}
.projects .data-analysis .img{background-image: url(../img/data-2.PNG);}

.projects .labels{margin-bottom: 20px;overflow-x: auto;overflow-y: hidden;white-space: nowrap;}
.projects .labels p{display:inline-block;text-align: center;font-size: 16px;height: 40px;margin:0 10px 15px 10px;border-bottom: 3px solid #3B5998;padding:5px 0;width:254px;transition: .2s ease-in-out;}
.projects .labels p:hover{cursor: pointer;background-color: rgb(195 225 253);}
.projects .labels p.active{background-color: #3B5998;color:#fff}
.projects .labels::-webkit-scrollbar {width: 1em;}
.projects .labels::-webkit-scrollbar-track {box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);}
.projects .labels::-webkit-scrollbar-thumb {background-color: darkgrey;outline: 1px solid slategrey;}

@media screen and (max-width:767px){

.projects .img{width:150px;height:135px;}
.projects .info{width:calc(100% - 156px)}
.projects .title{font-size: 14px;line-height: 20px;max-height: 80px;}
.projects .desc{font-size: 11px;line-height: 16px;max-height: 130px;}
.projects .btn{font-size: 14px;}
.projects .labels p{font-size: 13px;width:210px;line-height: 28spx;}
}

.skills-bar{display: hidden;}
.skill{background-color: #f8f8f8;padding:60px 0;}
.sec-title{height:60px;line-height: 60px;font-size: 22px;font-weight: 600;color:#3B5998;position: relative;padding-left: 15px;margin-bottom: 30px;}
.sec-title::before{position: absolute;content:"";width:4px;height:60px;left:0;top:0;background-color: #3B5998;}
.skill .title{float:left;font-size: 18px;color:#000;font-weight: 600;height:40px;line-height: 40px;}
.skill .num{float:right;font-size: 18px;color:#000;font-weight: 600;height:40px;line-height: 40px;}
.skill li{margin-bottom: 30px;position: relative;}
.skill li::before{position: absolute;content:'';bottom:-15px;left:0;width:100%;border:1px solid  rgb(93, 169, 240);height:12px;border-radius:5px;}
div[class^='bar-']{position: absolute;content:'';bottom:-13px;left:2px;height:10px;background-color: #3B5998;border-radius:5px;}
.skill .programming::after{width:90%;}
.skill .web::after{width:75%;}
.skill .nlp::after{width:70%;}
.skill .data::after{width:85%;}

.bar-prog,
.bar-html,
.bar-nlp,
.bar-data{
width: calc(0-6px);
}

.static-pg{background-color: #f8f8f8;padding:60px 0;}
.static-pg .left-wrp{width:100%;float: left;  box-shadow: 0 46px 33px -21px rgba(0, 0, 0, 0.08);}
.static-pg .form-wrp{padding:60px 40px;background-color: #fff;}
.static-pg input{width:100%;height:50px;background-color: transparent;border-bottom: 1px solid #eeeeee;margin-bottom: 30px;font-size: 14px;color:#000}
.static-pg .em{float:left;width:48%}
.static-pg .ph{float:right;width:48%}
.static-pg textarea{resize: none;margin-top: 80px;background-color: transparent;height:30px;width:100%;border-bottom: 1px solid #eeeeee;margin-bottom: 30px;}
.static-pg .btn{width:188px;height:50px;background-color: #3B5998;font-size: 17px;font-weight: 700;color:#fff;text-align:center;line-height: 50px;}
.static-pg .btn:hover{cursor: pointer;background-color: #4a274f;}

@media screen and (max-width:767px){
.static-pg .form-wrp{padding:30px 20px;}
.static-pg .em{width:100%}
.static-pg .ph{width:100%}
}

.about{padding:60px 0}
.about .info{font-size: 18px;line-height: 28px;}

.footer{height:50px;background-color: #3B5998;color:#fff;font-size: 18px;line-height: 50px;text-align: center;}


.main-curricular .img{display: block;margin:0 auto;background-repeat: no-repeat;background-position: center;background-size: contain;position: relative;padding:25%;background-color: #000;}
.main-curricular .first .img{background-image: url(../img/extra-1.jpg);}
.main-curricular .second .img{background-image: url(../img/extra-2.jpg);padding:26%}
.main-curricular .img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(45, 97, 169, 0) 0, #131313 100%);
}
.main-curricular{padding-top: 60px;}
.main-curricular h1{color:#fff;font-size: 24px;line-height: 28px;font-weight: 600;margin-bottom: 20px;}
.main-curricular h2{color:#fff;font-size: 18px;line-height: 22px;font-weight: 400;letter-spacing: 1.45px;}
.main-curricular h1:hover{text-decoration:underline ;}
.main-curricular .info{position: absolute;z-index: 9;bottom:5%;width:60%;left:50%;transform: translateX(-50%);text-align: center;opacity: .9;}





@media screen and (max-width: 1024px){
  .main-curricular h1{font-size: 18px;line-height: 22px;}
  .main-curricular h2{font-size: 14px;line-height: 18px;}
  .main-curricular{min-height: calc(100vh - 50px);background-color: #000;}
  
 }

 @media screen and (max-width: 767px){
  .main-curricular h1{font-size: 14px;line-height: 18px;}
  .main-curricular h2{display:None}
  /* .main-curricular .block{margin: 80px 0px;}  */
  
  }

  .social-link{display: inline-block;vertical-align: middle;height:25px;width:25px;background-repeat: no-repeat;background-position: center;background-size: 30px;margin-right: 10px;margin-top:20px}
  .linkedin-icon{background-image: url(../img/linkedin-ico.PNG);background-size: 25px;}
  .git-hub-icon{background-image: url(../img/github-icon.PNG);}

  
  @media screen and (min-width: 1025px){ 
    .social-link:hover{transform: scale(1.2);}
  }
  
/* Submit */
.submit-info .info{padding-top: 100px;padding-left: 100px ; font-size: 42px;font-weight: 600;color:#000;line-height: 54px;margin-bottom: 10px;}